.div_menu {
    background:black;
    margin-bottom: 10px;
    
}
.menu{
    color: white;
    font-size: 20px ;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-div{
   margin: 0px 0px 0px 20px;
  
}


footer {
    background: black;
}
.footer{
    font-size: 20px;
}
.footer,.footer-alamat{
    text-align: center;
    color: white;
}
.footer-alamat{
    font-size: 13px;
}